.App {
  text-align: center;
  font-family: "Poppins" !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  margin-top: 20vh;
  max-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10rgb (37, 46, 62) min);
  color: #3c4f1e;
  font-family: "Poppins";
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 600px) {
  .css-hyum1k-MuiToolbar-root {
    min-height: 50px !important;
  }
  .css-ymzihv {
    min-height: 50px !important;
  }
}

.title {
  font-size: 20px;
  color: #333;
  margin-top: 0;
  margin-bottom: 17px;
}

.subtitle {
  font-size: 10px;
  color: #777;
}

/* Overlay.css */
.overlay {
  position: fixed;
  top: 125px;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1;
}
